/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;    
}

button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.form-container {
    margin: 20px 0;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: calc(33.333% - 20px);
    margin: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product-card h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.product-card p {
    margin: 5px 0;
    color: #666;
}

.product-card .actions {
    margin-top: 10px;
    text-align: right;
}

.product-card .actions button {
    margin-left: 5px;
}

.imglogo {
    width: 200px;
    margin-bottom: 10px;
}

.imglogo2 {
    width: 40px;
    margin-bottom: 10px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

form {
    width: 450px;
}

#card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.card img {
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

